$imb-primary: #580000;
$imb-secondary: #a70000;
$imb-third: gray;
// @import "bourbon/bourbon";
// @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
// @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

.col-md-moose {

	width: 100%;

	#grid-filter {

		.btn {
			padding: 1.5rem 4rem;
			box-shadow: 2px 2px 20px lighten( gray, 15% );
		}
		.active {
			background-color: lighten( $imb-primary, 20% );
			// box-shadow: 2px 2px 10px lighten( gray, 15% ) inset;
			color: white;
		}
	}
}


#masonry-grid {

	margin: 0 auto;
	// border: 1rem solid red;
	margin-bottom: 5rem;

}


.grid-item {

	width: 25%;
    // background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;


	-webkit-box-shadow: 9px 13px 26px 1px rgba(46,44,46, 0.5);

	-moz-box-shadow: 9px 13px 26px 1px rgba(46,44,46, 0.5);

	box-shadow: 9px 13px 26px 1px rgba(46,44,46, 0.5);

	.headline {
		margin-bottom: -3rem;
	}

}


.grid-sizer {

	width: 5%;

}


.grid-item img {

	width: 100%;

	padding: 1em;

}


.content-block {

	padding-bottom: 2rem;

	padding-right: 1rem;


	.btn {

		border-radius: 0;

		margin-top: 1rem;

	}


	p {

		padding-left: 1rem;

		padding-bottom: 1rem;

		padding-top: 1em;

	}


}


// ==============================================

// SCSS FOR THE MEDIA QUERY

// ==============================================


$main-background-color: gray;

$main-font-color: white;

$rgba-percent: 0.9;

$main-nav-color: rgba(55, 55, 55, $rgba-percent);


@media screen and (max-width: 1200px) {

  /* 10 columns for larger screens */

    .grid-sizer { width: 5%; }

    .grid-item {

  		width: 25%;

    }

    #masonry-grid {

	// width: 100%;

	// margin: 0 auto;

	// margin-left: 0rem;

	}

	.col-md-moose {

		width: 100%

	}


	.sidebar-fixed {

		float: none;

		width: 100%;

		margin-left: 1em;

	}

	.widget-sidebar {

		width: 30%;

		float: left;

		margin-right: 2em;

		// margin: 0 auto;

		// padding-right: 1.5em;

	}

}


@media screen and (max-width: 992px) {

  /* 10 columns for larger screens */

    .grid-sizer { width: 8%; }

    .grid-item {

  		width: 32%;

    }

    #masonry-grid {

	margin-left: 4.5rem;

    }

    .col-md-moose {

	width: 100%

    }


}


@media screen and (max-width: 767px) {

  /* 10 columns for larger screens */

    .grid-sizer { width: 8%; }

    .grid-item {

  		width: 32%;

    }

    #masonry-grid {

	// width: 100%;

	// margin: 0 auto;

		// margin-left: 4.5rem;

	}

	.col-md-moose {

		width: 100%

	}


	.sidebar-fixed {

		float: none;

		width: 100%;

		margin: 0 auto;

	}

	.widget-sidebar {

		width: 100%;

		float: left;

		background-color: rgba(0,0,0,.2%);

		// margin: 0 auto;

		// margin-right: 1.5em;

	}


}


@media screen and (max-width: 600px) {

  /* 10 columns for larger screens */

    .grid-sizer { width: 5%; }

    .grid-item {

  		width: 50%;

    }


    #masonry-grid {

	// width: 100%;

	margin: 0 auto;

	// margin-left: 4.5rem;

	}

	.col-md-moose {

		width: 100%

	}


	.sidebar-fixed {

		float: none;

		width: 100%;

		margin: 0 auto;

	}


}


@media screen and (max-width: 480px) {

  /* 10 columns for larger screens */

    // .grid-sizer { width: 5%; }

    .grid-item {

  		width: 100%;

    }


    #masonry-grid {

	// width: 100%;

	margin: 0 auto;

		// margin-left: 4.5rem;

	}

	.col-md-moose {

		width: 100%

	}


	.sidebar-fixed {

		float: none;

		width: 100%;

		margin: 0 auto;

	}

	.widget-sidebar {

		width: 100%;

		float: left;

		background-color: rgba(0,0,0,.2%);


	}


}

