.col-md-moose {
  width: 100%; }
  .col-md-moose #grid-filter .btn {
    padding: 1.5rem 4rem;
    box-shadow: 2px 2px 20px #a6a6a6; }
  .col-md-moose #grid-filter .active {
    background-color: #be0000;
    color: white; }

#masonry-grid {
  margin: 0 auto;
  margin-bottom: 5rem; }

#pagination {
  margin-bottom: 5rem; }
  #pagination .paging-first-page {
    background-color: #a70000;
    box-shadow: 1rem 1rem 3rem #666666;
    padding: 1.5rem 4rem; }
    #pagination .paging-first-page a {
      color: #F9F9F9;
      font-size: 2rem; }
  #pagination .paging-text {
    background-color: #a70000;
    box-shadow: 1rem 1rem 3rem #666666;
    padding: 3.5rem 4rem; }
    #pagination .paging-text aside {
      margin-top: -2rem; }
    #pagination .paging-text a {
      color: #F9F9F9;
      font-size: 2rem; }

.grid-item {
  width: 25%;
  -webkit-box-shadow: 9px 13px 26px 1px rgba(46, 44, 46, 0.5);
  -moz-box-shadow: 9px 13px 26px 1px rgba(46, 44, 46, 0.5);
  box-shadow: 9px 13px 26px 1px rgba(46, 44, 46, 0.5); }
  .grid-item:hover {
    -webkit-box-shadow: 3px 3px 6px 1px rgba(46, 44, 46, 0.1) inset;
    -moz-box-shadow: 3px 3px 6px 1px rgba(46, 44, 46, 0.1) inset;
    box-shadow: 3px 3px 6px 1px rgba(46, 44, 46, 0.1) inset; }
  .grid-item .headline {
    margin-top: -5rem;
    margin-bottom: -2rem;
    font-size: 1.5rem;
    color: #F9F9F9;
    text-shadow: 4px 4px 8px black; }

.grid-sizer {
  width: 5%; }

.grid-item img {
  width: 100%;
  padding: 1em; }

.content-block {
  padding-bottom: 2rem;
  padding-right: 1rem; }
  .content-block .btn {
    border-radius: 0;
    margin-top: 1rem; }
  .content-block p {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1em; }

@media screen and (max-width: 1200px) {
  /* 10 columns for larger screens */
  .grid-sizer {
    width: 5%; }

  .grid-item {
    width: 25%; }

  .col-md-moose {
    width: 100%; }

  .sidebar-fixed {
    float: none;
    width: 100%;
    margin-left: 1em; }

  .widget-sidebar {
    width: 30%;
    float: left;
    margin-right: 2em; } }
@media screen and (max-width: 992px) {
  /* 10 columns for larger screens */
  .grid-sizer {
    width: 8%; }

  .grid-item {
    width: 32%; }

  #masonry-grid {
    margin-left: 4.5rem; }

  .col-md-moose {
    width: 100%; } }
@media screen and (max-width: 767px) {
  /* 10 columns for larger screens */
  .grid-sizer {
    width: 8%; }

  .grid-item {
    width: 32%; }

  .col-md-moose {
    width: 100%; }

  .sidebar-fixed {
    float: none;
    width: 100%;
    margin: 0 auto; }

  .widget-sidebar {
    width: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.2); } }
@media screen and (max-width: 600px) {
  /* 10 columns for larger screens */
  .grid-sizer {
    width: 5%; }

  .grid-item {
    width: 50%; }

  #masonry-grid {
    margin: 0 auto; }

  .col-md-moose {
    width: 100%; }

  .sidebar-fixed {
    float: none;
    width: 100%;
    margin: 0 auto; } }
@media screen and (max-width: 480px) {
  /* 10 columns for larger screens */
  .grid-item {
    width: 100%; }

  #masonry-grid {
    margin: 0 auto; }

  .col-md-moose {
    width: 100%; }

  .sidebar-fixed {
    float: none;
    width: 100%;
    margin: 0 auto; }

  .widget-sidebar {
    width: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.2); } }

/*# sourceMappingURL=style-masonry.css.map */
